* {
    margin: 0;
    box-sizing: border-box;
    font-family:Slack-Larsseit,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
}
.heading{
    font-family: Slack-Larsseit,Helvetica Neue,Helvetica,Segoe UI,Tahoma,Arial,sans-serif;
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -.75px;
    line-height: 46px;
    margin-bottom: 10px;
    max-width: 700px;
    text-align: center;
}
.s-head{
    color: #454245;
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 32px;
    max-width: 700px;
    text-align: center;
    font-weight: 500;
    margin-top: 32px;
}



.imgs {
    padding-top: 5px;
    justify-content: center;
    display: flex;
    margin-top: 2.5em;
  }
.container-image {
  background-color: rgb(223, 221, 221); 
  border-radius: 2px;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 95px;
  width: 150px;
  margin-top: 40px;
}
.logo {
  height: 95px;
  width: 150px;
  border-radius: 5px;
} 
h4 {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
h4:before, h4:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid black;
  margin: auto;
}
h4:before {
  margin-right: 10px
}
h4:after {
  margin-left: 10px
}
.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover {
    background-color: white;
    width: 40em;
    height: 46em;
    position: relative;
    border-radius: 1em;
    /* box-shadow: 0 0.188em 1.550em rgb(156, 156, 156); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

input {
  border: 1px solid #ced4da;
    background-color: white;
    height: 4em;
    width: 60%;
    border-radius: 0.25em;
    text-align: center;
    padding: 11px 12px 13px;
    height: 44px;
    font-size: 18px;
    line-height: 1.33333333;
    
}
.link{
    font-size: 15px;
    font-weight: 400;
    
}

input:focus {
    outline-color: rgb(32, 177, 255);
}

.login-btn {
    width: 60%;
    height: 3em;
    background-color: rgb(79, 25, 79);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 0.5em;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login-btn:hover { transform: scale(1);}

.card__apple{
    border-radius: 0;
    border-width: medium;
    padding:.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid green;
    width: 60%;
    height: 45px;
    font-size:20px;
    padding:10px;
    margin:3px 7rem;
  }
  .card__apple:hover{
    cursor:pointer;
    background-color: rgb(108, 92, 201);
  }

.card__google{
    border-radius: 0;
    border-width: medium;
    padding:.6rem 1.3rem;
    background-color: #fff;
    border: 2px solid #4285f4;
    color: #4285f4;
    width: 60%;
    height: 45px;
    font-size:20px;
    padding:10px;
    margin:10px 11rem;
  }
  .card__google:hover{
    cursor:pointer;
    background-color: rgb(108, 92, 201);
  }
  .x{
    margin-top: 15px;
    font-size: 17px;
  }
  .y{
    font-size: 17px;
    margin-bottom: 15px;
    margin-top: 2px;
  }

.text {
    position: relative;
    bottom: -2em;
}

.hide {
    position: absolute;
    transform: scale(0);
}

.login-popup {
    position: absolute;
    height: 30em;
    width: 30em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    bottom: 0;
    transform: scale(1);
    transition: 1.5s;
}
@media screen and (max-width: 768px) {
  .heading{
    font-size: 80%;
  }

  .s-head{
    margin-top: 10px;
  }
  input {
    height: 60%;
    width: 90%; 
    margin-top: 50%;  
}
.login-btn{
  height: 120%;
    width: 90%;
    margin-bottom: 10px; 
}
.login-btn:hover { transform: scale(1);}

  .imgs {
    padding-top: 2px;
    justify-content: center;
    display: flex;
    margin-top: .1em;
  }
  .container-image {
    
   
    height: 75px;
    width: 100px;
    margin-top: 3px;
  }
  .logo {
    height: 95px;
    width: 150px;
    border-radius: 5px;
    margin-top: 2px;
  } 
  .heading{
    
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -.75px;
    line-height: 46px;
    margin-bottom: 10px;
    max-width: 700px;
    text-align: center;
}
.card__apple{
  font-size: 1.5rem;
  margin: 1rem .5rem;
  width: 90%;
  height:100%;
}
.card__google{
 font-size: 1.5rem;
  margin: 1rem .5rem;
  width: 90%;
  height:100%;
}
.page{
  height: 100%;
}
.login-popup {
  position: absolute;
  height: 20em;
  width: 20em;
}

}