
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 1.46668;
  /* font-family:Slack-Larsseit,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif,'Poppins', sans-serif; */
  font-family: 'Lato', sans-serif;
}
.heading{
  font-family: 'Lato', sans-serif;
  font-size: 46px;
  font-weight: 530;
  letter-spacing: -.80px;
  line-height: 47px;
  margin-bottom: 0;
  max-width: 700px;
  text-align: center;
  justify-content: center;
  margin-top: 0;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.s-head{
  color: #454245;
  font-size: 17px;
  line-height: 27px;
  margin-bottom: 26px;
  max-width: 500px;
  text-align: center;
  font-weight: 500;
  margin-top: 5px;
}



.imgs {
  /* padding-top: 20px; */
  justify-content: center;
  display: flex;
  margin-top: 0;
}
.container-image {
background-color: rgb(223, 221, 221); 
border-radius: 2px;
align-items: center;
display: flex;
justify-content: center;
height: 34px;
width: 155px;
margin-top: 48px;
margin-bottom: 36px;
}
.logo {
height: 34px;
width: 155px;
border-radius: 5px;
} 
h5 {
display: flex;
flex-direction: row;
}
.or{
  font-size: 14.5px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
h5:before, h5:after{
content: "";
flex: 1 1;
border-top: 1px solid #ddd;
margin: auto;
display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
h5:before {
margin-right: 13px;
min-width: 178px;
padding-right: 25px;

}
h5:after {
margin-left: 13px;
min-width: 178px;
padding-left:  25px;
}
.page {
  height: 130vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  background-color: white;
  width: 40em;
  height: 40em;
  position: relative;
  border-radius: 1em;
  /* box-shadow: 0 0.188em 1.550em rgb(156, 156, 156); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

input {
border: 1px solid #ced4da;
  background-color: white;
  height: 44px;
  width: 400px;
  border-radius: 0.25em;
  text-align: left;
  padding: 11px 12px 13px;
  font-size: 18px;
  line-height: 1.33333333;
}
.link{
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 20px;  
}
.fa-google {
background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
-webkit-background-clip: text;
background-clip: text;
color: transparent;
-webkit-text-fill-color: transparent;
padding-top: 5px;
}
.fa-apple{
  padding-top: 4.7px;
}

input:focus {

  outline: 0;
  box-shadow: 0 0 0 1px #1264a3, 0 0 0 5px rgb(29 155 209 / 30%);
  border-radius: 4px;
  border-color: transparent;
}

.login-btn {
  background-color: #611f69;
  border: none;
  color: #fff;
  width: 400px;
  height: 44px;
  font-size: 18px;
    font-weight: 350;
    min-width: 96px;
    padding: 0 16px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  /* margin-bottom: 18px; */
  margin-top: 16px;
  margin-bottom: 3px;
}

.login-btn:hover {
   transform: scale(1);
   background-color: #611f69e6;
   border: none;
     box-shadow: 0 1px 3px 0 #00000014;
     text-decoration: none;
     -webkit-tap-highlight-color: transparent;
     align-items: center;
}



.x{
  margin-top: 9px;
  font-size: 15px;
  margin-bottom: 0;
  color: #454245;
}
.y{
  font-size: 15px;
  margin-bottom: 28.5px;
  margin-top: 0;
  color:#20519b ;
  
}


.hide {
  position: absolute;
  transform: scale(0);
}

.login-popup {
  position: absolute;
  height: 30em;
  width: 30em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.25em;
  background-color: black;
  color: white;
  bottom: 0;
  transform: scale(1);
  transition: 1.5s;
}
.btn-lg{
border-radius: 4px;
border-width:medium;
margin-bottom: 12px;
padding: 6px 14px 7px;
width: 400px;
height: 44px;
font-size: 16px;
font-weight: 350;
min-width: 96px;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    position: relative;
    white-space: nowrap;
    transition: all 80ms linear;
    text-align: center;
    justify-content: center;
}
.btn-lg:hover{
  background: #148567;
  box-shadow: 0 1px 4px #0000004d;
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 1024px) {
.s-head{
  margin-bottom: 26px;
}
input {
  height: 44px;
  width: 400px; 
}
.login-btn{
  height: 44px;
  width: 400px; 
  margin-bottom: 3px; 
  padding: 0 1px 1px;
}
.login-btn:hover { transform: scale(1);}

.imgs {
  padding-top: 0;
  justify-content: center;
  display: flex;
  margin-top: 0;
}

.heading{
margin-top: 0;

}

.btn-lg{
  height: 44px;
  width: 400px; 
margin-bottom: 10px;

}
.page{
height: 100%;
}

.login-popup {
position: absolute;
height: 20em;
width: 20em;
}

}